<div class="flex items-start w-full gap-3 p-2">
  <%= render "chats/ai_avatar" %>

  <div class="max-w-[85%] text-sm space-y-4 text-primary">
    <p>Hey <%= Current.user&.first_name || "there" %>! I'm an AI assistant that can help with your finances. I have access to the web and your account data.</p>

    <div class="space-y-3 mt-4">
      <p>Here's a few questions you can ask:</p>

      <% questions = smart_chat_suggestions(Current.family) %>

      <div class="space-y-2.5">
        <% questions.each do |question| %>
          <button data-action="chat#submitSampleQuestion"
                  data-chat-question-param="<%= question[:text] %>"
                  class="w-fit flex items-center gap-2 border border-secondary rounded-full py-1.5 px-2.5 hover:bg-container-inset hover:border-primary transition-colors">
            <%= icon(question[:icon]) %> <%= question[:text] %>
          </button>
        <% end %>
      </div>
    </div>
  </div>
</div>
